.MEIO{ font-family: cursive;
    

}
body{ 
    display: flex;
    justify-content: ;
    background-color:yellow
}
table{   
    background-color: blue; 

}
table:hover{
    background-color: aquamarine;
}
aside{
    padding: 19px;
}